/* .buttonSendiri{
  background-color: #c1aedd;
  padding : 0.375rem 0.75rem 0.375rem 0.75rem;
  border: none;
  border-radius: 0.375rem;
  color: white;
}

.buttonSendiri:hover{
  background-color:#a28bc4;
} */

.loginHover {
  border-radius: 15px;
  transition-duration: 0.4s;
}

.loginHover:hover{
  background-color: #bde7a7;
}

.cardUser {
  width: 100%;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body{
  background-color: #fbfbfb;
}

.gambarCard{
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.gambarProfile{
  width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.warnaText{
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000000;
}

.buttonDots{
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  color: grey;
}

.buttonDots:hover{
  background-color: #acafaf;
  padding: 0.375rem 0.75rem;
  color: grey;
}

@media screen and (max-width: 990px) {
  .gambarCard{
    width: 600px;
    height: 200px;
    object-fit: cover;
  }
}
